
.settings/org.eclipse.core.resources.prefs

bin-debug/Boids-app.xml

bin-debug/Boids.swf

bin-debug/assets/mini.fnt

bin-debug/assets/mini.png

bin-debug/assets/touch_marker.png

.DS_Store

bin-debug/testLevel.png
